<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <server name="SMS_BROADCAST_USERNAME" value="" />
        <server name="SMS_BROADCAST_PASSWORD" value="" />
        <!-- Set this to your number for running integration tests (they send real SMSes!) -->
        <server name="INTEGRATION_TO_NUMBER" value="" />
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
